@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

label{
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 12px;

}
input,select{
    border: 1px solid #69677480;
    border-radius: 5px;
    padding: 4px;
    font-size: 14px;
    font-family:"Inter", sans-serif ;
    font-weight: 400;
    
}